@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase
@layout MainLayout

<FluentLayout Style="position:relative;left:-25px; top:-8px;">
    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="0" VerticalGap="0" Width="100%">
        <SectionOutlet SectionName="resource-navmenu" />
        <FluentBodyContent>
            <FluentStack Orientation="Orientation.Vertical">
                <div style="padding-left:10px;margin-bottom:5px;">
                    <SectionOutlet SectionName="resource-title"/>
                </div>

                <SectionOutlet SectionName="resource-toolbar"/>

                @Body
            </FluentStack>
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>