<h3>RenderFragmentPageComponent</h3>

@if (ShowFragmentNamed == "one")
{
    <div>Fragment One</div>
    @FragmentOneContent
}
else if (ShowFragmentNamed == "two")
{
    <div>Fragment Two</div>
    @FragmentTwoContent
}
else if (ShowFragmentNamed == "three")
{
    <div>Fragment Three</div>
    @FragmentThreeContent
}
else if (ShowFragmentNamed == "four")
{
    <div>Fragment Four</div>
    @FragmentFourContent
}
else
{
    <div>Invalid fragment name</div>
}

@code {
    [Inject] NavigationManager NavigationManager { get; set; } = null!;
    [Parameter] public string? ShowFragmentNamed { get; set; }
    [Parameter] public RenderFragment FragmentOneContent { get; set; } = null!;
    [Parameter] public RenderFragment FragmentTwoContent { get; set; } = null!;
    [Parameter] public RenderFragment FragmentThreeContent { get; set; } = null!;
    [Parameter] public RenderFragment FragmentFourContent { get; set; } = null!;

}
